<img class="m-close" src="/imgs/m-close.jpg" alt="" srcset="">
<img class="m-menu" src="/imgs/m-menu.jpg" alt="" srcset="">
<header class="head">
    <ul class="nav-ul">
        <li class="nav-li"><a class="nav-a" href="">首页</a></li>
        <li class="nav-li"><a class="nav-a" href="">品牌故事</a></li>
        <li class="nav-li"><a class="nav-a" href="">招牌美食</a></li>
        <li class="nav-li">
            <a class="head-logo" href=""><img src="/imgs/index/logo.png" alt="" srcset=""></a>
        </li>
        <li class="nav-li"><a class="nav-a" href="">投资合作</a></li>
        <li class="nav-li"><a class="nav-a" href="">新闻资讯</a></li>
        <li class="nav-li"><a class="nav-a" href="">联系我们</a></li>
    </ul>
</header>