/* 轮播图 */
.banner {
    max-height: 100vh;
}

.m-banner {
    display: none;
}

.swiper-slide image {
    width: 100%;
    height: auto;
}

.swiper-pagination {
    bottom: 0.35rem !important;
}

.swiper-pagination-bullet {
    opacity: 1;
    width: 0.15rem;
    height: 0.15rem;
    background: #fff;
}

.swiper-pagination-bullet-active {
    width: 0.3rem;
    border-radius: 0.1rem;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    -ms-border-radius: 0.1rem;
    -o-border-radius: 0.1rem;
}


@media screen and (max-width: 768px) {
    .banner {
        height: 100vh;
    }

    .pc-banner {
        display: none;
    }

    .m-banner {
        display: block;
    }
}