@media screen and (max-width: 640px){
html,body{width: 100vw;height: auto;overflow-x: hidden;}    
.head{width: 100%;height: 100vh;}
.head-nav{height: 100%;display: block;}
.head-li{width: 100%;height: 20vw;display: block;text-align: center;line-height: 20vw;}

.con{width: 100%;}

}
