mar(x)
    margin (x)
pad(x)
    padding (x)
w(x)
    width (x)
h(x)
    height (x)    
bs(x y z m n)
    box-shadow (x y z m n)
body
    mar(0)
.div1
    mar(100px auto)
    w(800px) 
    h(600px)
    bs (10px 10px 100px 10px gray)
.div1-body
    position absoulte
    width w = auto
    height h = auto
    pad(50px)
    mar(0 auto)
    top 50% 
    left 50%
    display inline-block
    background gray
